<div class="game-container">
  <canvas id="canvas" width="480" height="480">

  </canvas>
  <div class="modal" tabindex="-1" id="modal-game-over" class="no-show">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-center">
					<h3 data-i18n="game-over">Perdiste! Game Over</h3>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary btn-restart" data-i18n="restart">Restart</button>
				</div>
			</div>
		</div>
	</div>

    <div class="modal" tabindex="-1" id="modal-win" class="no-show">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-center">
					<h3 data-i18n="congratulations">Ganaste! Felicitaciones</h3>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary btn-restart" data-i18n="restart">Restart</button>
				</div>
			</div>
		</div>
	</div>
</div>
