<div class="card">
  <div class="inside-card">
    <div class="first-line">
      <span class="title-text">Información</span>
      <div class="each-info">
        <img src="assets/img/puntos.png" width="20px"/>
        <span>Puntos</span>:
        <span>0</span>
      </div>
      <div class="each-info">
        <img src="assets/img/flecha.svg" width="20px"/>
        <span>Flechas</span>:
        <span>0</span>
      </div>
      <div class="each-info">
        <img src="assets/img/oro.png" width="20px"/>
        <span>Oro restante</span>:
        <span>5</span>
      </div>
    </div>
    <div class="second-line">
      <span class="title-text">Configuración</span>
      <form >
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="true" id="btn-remove-walls">
          <label class="form-check-label" for="btn-remove-walls"> Remover paredes</label>
        </div>
        <div class="form-group">
          <label class="form-label" for="btn-volume">Volumen</label>
          <br>
          <input type="range" min="0" max="100" value="10" class="form-control-range" id="btn-volume">
        </div>
      </form>
      <button (click)="restart()">
        Volver a empezar
      </button>
    </div>
    <hr/>
    <div class="third-line">
      <span class="title-text">Controles</span>
        <div class="tab-pane">
          <img src="assets/img/fondo.jpg" alt="fondo" width="250px"/>
        </div>
    </div>
  </div>
</div>

<!-- <div class="card card-body">
  <ul class="nav-tabs" id="myTab">
    <li class="nav-item" >
      <span class="nav-link" id="info-tab" data-toggle="tab" data-i18n="info">Info</span>
      <div class="tab-info" id="info">
        <p>
          <img src="assets/img/puntos.png" width="20px"/>
          <span data-i18n="score">Puntos</span>:
          <span id="score">0</span>
        </p>
        <p>
          <img src="assets/img/flecha.svg" width="20px"/>
          <span data-i18n="arrow">Flechas</span>:
          <span id="arrow">0</span>
        </p>
        <p>
          <img src="assets/img/oro.png" width="20px"/>
          <span data-i18n="remaining-golds">Oro restante</span>:
          <span id="gold">0</span>
        </p>
        <hr/>
      </div>
    </li>

    <li class="nav-item" >
      <span class="nav-link" id="settings-tab" data-toggle="tab" data-i18n="settings">Configuración</span>
      <div class="tab-pane fade mt-4" id="settings">
        <form >
          <div class="form-check">
            <input class="form-check-input" tabindex="-1" type="checkbox" value="true" id="btn-remove-walls">
            <label class="form-check-label" tabindex="-1"  for="btn-remove-walls" data-i18n="settings-remove-walls">Remover paredes</label>
          </div>
          <div class="form-group">
            <label tabindex="-1" class="form-label" for="btn-volume" data-i18n="settings-volume">Volumen</label>
            <input type="range" min="0.0" max="1.0" value="0.2" step="0.1" class="form-control-range" id="btn-volume">
          </div>
        </form>
        <button>
          Restart
        </button>
        <hr/>
      </div>
    </li>
    <li class="nav-item" >
      <a class="nav-link" id="controls-tab" data-toggle="tab" data-i18n="controls">Controles</a>
      <div class="tab-pane fade show active mt-4" id="info">
        <img src="assets/img/fondo.jpg" alt="fondo" width="250px"/>
      </div>
    </li>
  </ul>
</div> -->
